@import "tailwindcss";

@layer utilities {
    .noise::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../../images/noisy-texture.png");
        mix-blend-mode: overlay;
        pointer-events: none;
        z-index: 0;
        pointer-events: none;
        overflow: hidden;
    }
}
    