@import "tailwindcss";

@layer components {
    .text-gradient {
        background: linear-gradient(90deg, rgba(226, 14, 187, 0.92) 6.25%, #D773FF 54.13%, #5B8FCE 92.79%);
        @apply bg-clip-text text-transparent;
    }

    .text-secondary-gradient {
        background: linear-gradient(90deg, rgba(122, 36, 87, 0.92) 6.25%, #e35afb 59.13%, #5293e2 72.79%), #FFFFFF;
        @apply bg-clip-text text-transparent;
    }

    .gradient-border::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        padding: 1px;

        background: linear-gradient(90deg, #5511B5, #AE00FF);

        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;

        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }
}