@import "tailwindcss";

@theme {
    --font-family-style: 'Tektur', sans-serif;

    --animate-float: float 8s ease-in-out infinite;
    --animate-float-left: float-aurora-left 8s ease-in-out infinite;

    @keyframes float {
        0%,
        100% {
            transform: translate(0px, 0px) scale(1);
        }

        50% {
            transform: translate(30px, -20px) scale(1.05);
        }
    }

    @keyframes float-aurora-left {
        0%,
        100% {
            transform: translate(0px, 0px) scale(1);
        }

        50% {
            transform: translate(-30px, -20px) scale(1.05);
        }
    }

}

@import './base/base.css';
@import './components/gradients.css';
@import './components/buttons.css';
@import './components/stars.css';
@import './utilities/utilities.css';